body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 500px;
    text-align: center;
    overflow-y: auto;
    max-height: 50vh;
}

.contact-form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 500px;
    margin-top: 20px;
}

h1 {
    color: #4682b4;
    margin-bottom: 20px;
}

h2 {
    color: #4682b4;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px 0;
    background-color: #f0ffff;
    border: 1px solid #b0c4de;
    border-radius: 4px;
}

button {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    background-color: #87cefa;
    color: white;
    cursor: pointer;
}

button.completed {
    background-color: #32cd32;
}

button:hover {
    opacity: 0.8;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #b0c4de;
    border-radius: 4px;
}

button[type="submit"] {
    background-color: #4682b4;
}